.loginFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    width: 40vw;
    height: 50vh;
    margin: auto;
}
.formButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  .registerEl{
    color:darkblue;
    cursor: pointer;
    border-bottom: 1px solid black;
}
button{
    margin:10px;
    border:1px solid black;
    padding: 2px;
    border-radius: 2px;
}
label{
    font-weight: bold;
}
input{
    border-bottom:1px solid black ;
}
p{
    margin-top:5px;
}