.loginFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
}
.formButtonContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
