.registerFormContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:1px solid black;
    padding:10px;
    margin: auto;
    width:50vw;
    height: 50vh;
}

.requirement{
    font-size: 12px;
}

 .label{
    font-weight: bold;
 }

 input{
    border-bottom: 1px solid black;
 }
 p{
    padding-top: 10px;
 }